/* LOGIN */
body {
  margin: 0%;
  padding: 0%;
}

#header {
  background-color: #d9d9d9;
  width: 100%;
  height: 102px;
}

#header img {
  width: 180px;
  padding: 15px;
}

#mainLogin {
  background-color: #7ec384;
  display: flex;
  width: 100%;
  height: 86vh;
  align-items: center;
  justify-content: center;
}

#loginPageLogo {
  background-color: #d9d9d9;
  width: 400px;
  height: 520px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loginPage {
  background-color: white;
  width: 400px;
  height: 520px;
}

#loginPageLogo img {
  width: 370px;
  height: 180px;
}

#loginPage h1 {
  font-weight: 300;
  color: #7ec384;
  padding: 10px;
}

#loginPage p {
  margin-top: 15px;
  margin-left: 30px;
  font-weight: 500;
  font-size: 12pt;
}

#loginPage input {
  margin-left: 30px;
  font-size: 12pt;
  width: 300px;
  height: 70px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(177, 177, 177);
  border: none ;
  background-color: #d9d9d9;
  padding-left: 12px;
}

#buttonArea {
  width: 100%;
  display: grid;
  justify-content: center;
  margin-top: 40px;
}

#login {
  width: 280px;
  font-size: 13pt;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #3f7856;
  color: white;
}

#loginGoogle {
  display: flex;
  width: 280px;
  font-size: 13pt;
  height: 50px;
  border-radius: 10px;
  border-color: black;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

#google {
  width: 32px;
  padding-right: 5px;
}


/* PÁGINA INICIAL */
#mainHome {
  width: 98vW;
  height: 170vh;
  display: flex;
  
}

#mainHome h1 {
  margin: 0%;
  padding: 15px;
  font-weight: 300;
}

#menu {
  background-color: white;
  width: 200px;
  height: 450px;
  border-radius: 20px;
  margin: 0%;
  align-items: center;
  margin: 15px;
}

ul {
  padding: 10px;
}

li {
  list-style: none;
}

.icones {
  width: 20px;
  padding-right: 10px;
}

#imgLog {
  width: 150px;
}

.conteudo {
  width: 80%;
}

.natureza {
  background-color: #3d7e49;
  width: 98%;
  height: 21%;
  border-radius: 20px;
}

.matematica {
  background-color: #830909;
  width: 98%;
  height: 21%;
  border-radius: 20px;
  margin-top: 25px;
}

.humanas {
  background-color: #b36100;
  width: 98%;
  height: 21%;
  border-radius: 20px;
  margin-top: 25px;
}

.linguagens {
  background-color: #8400b3;
  width: 98%;
  height: 21%;
  border-radius: 20px;
  margin-top: 25px;
}

.buttons {
  width: 100%;
  text-align: center;
}

p {
  color: white;
  margin: 20px;
  font-size: 15pt;
  text-align: justify;
}

h2 {
  display: flex;
  font-weight: bold;
  color: white;
  padding: 15px;
  align-items: center;
}

button {
  width: 85%;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  margin-bottom: 1;
  cursor: pointer;
}

.icon {
  width: 30px;
  margin: 5px;
  padding: 5px;
}


/* QUIZ */
#perguntasBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#perguntasBox h1 {
  text-align: start;
}

#perguntasBox button {
  margin: 10px;
  padding: 10px;
  width: 90%;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#perguntasBox button:hover {
  transform: scale(1.05);
  background-color: #b3e5fc; /* Cor de fundo ao passar o mouse */
}

#mainQuiz {
  display: flex;
  flex-direction: column;
  width: 100vW;
  height: 100vh;
  align-items: center;
  background-color: #d9d9d9;
}

#mainQuiz h1 {
  margin: 0%;
  margin: 0%;
  padding: 15px;
  font-weight: 300;
  width: 97%;
}

.hr {
  background-color: black;
  height: 0.3px;
  margin-bottom: 20px;
  width: 97%;
}
.hr2 {
  background-color: black;
  height: 0.3px;
  margin-bottom: 20px;
  width: 30%;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  width: 70%;
  height: 85%;
}

#materia {
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 5px;
  width: 98%;
  font-size: 18pt;
}

#materia img {
  padding: 5px;
  margin-right: 420px;
  cursor: pointer;
}

#pergunta {
  color: black;
  margin: 20px;
  font-size: 15pt;
  text-align: justify;
}

.questao {
  background-color: #A3D2D5;
  border-radius: 20px;
  height: 85%;
  width: 85%
}

#texto1 {
  text-align: center;
  color: black;
}

#texto {
  color: black;
}